[project]
	description = Python-based tool to generate a valid tempest.conf file for any openstack cloud
	state = read only

[access "refs/*"]
	owner = group rhos-tempest-core
	owner = group user/Daniel Mellado (danielmellado)

[access "refs/for/refs/*"]
	pushMerge = group rhos-tempest-core

[access "refs/heads/*"]
	read = group Registered Users
	read = group rdo-ci-group
	read = group rhos-tempest-core
	abandon = group rhos-tempest-core
	create = group rhos-tempest-core
	label-Code-Review = -2..+2 group rhos-tempest-core
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group rhos-tempest-core
	label-Workflow = -1..+1 group rhos-tempest-core
	push = +force group rhos-tempest-core
	pushMerge = group rhos-tempest-core
	submit = group rhos-tempest-core

[access "refs/for/refs/heads*"]
	push = group Registered Users
	push = group rhos-tempest-core
	pushMerge = group rhos-tempest-core
	forgeCommitter = group rhos-tempest-core

[access "refs/drafts/*"]
	push = block group Registered Users

[access "refs/tags/*"]
	read = group Registered Users
	read = group rdo-ci-group
	read = group rhos-tempest-core
	push = +force group rhos-tempest-core
	forgeCommitter = group rhos-tempest-core
	createSignedTag = group rhos-tempest-core

[receive]
	requireChangeId = true

[submit]
	mergeContent = true
